<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                                                                                                                                                                                                                                 
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18505452?query=java%20Odessa">Senior Java Developer (Odessa)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18512925?query=java%20Odessa">Middle/Junior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18505648?query=java%20Odessa">Senior Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18247487?query=java%20Odessa">Java Developer for Team Online</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18291806?query=java%20Odessa">DevOps engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18469364?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ilogos</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17730473?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17730427?query=java%20Odessa">Java Team Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18520583?query=java%20Odessa">Водитель такси со своим авто</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Зевс</td> 
     <td class="salary">от 10&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18502025?query=java%20Odessa">Программист-разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Касымов</td> 
     <td class="salary">300-500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18393660?query=java%20Odessa">Разработчик R&amp;D Engineer (Computer Vision)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Aspose</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18061408?query=java%20Odessa">Portal (front-end) developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18393227?query=java%20Odessa">Разработчик C# Engineer for CAD file formats</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Aspose</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18300168?query=java%20Odessa">Plugin developer (Perl/GWT)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Софтезіс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18313947?query=java%20Odessa">HTML-верстальщик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Тимур Пимпи</td> 
     <td class="salary">400-600 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18322345?query=java%20Odessa">Software Developer (Python)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Beetroot</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18234157?query=java%20Odessa">Middle or Senior Scala / Spark Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Do IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028847">Java Developer (Middle / Senior)</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">John Wiley &amp; Sons Rus, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028877">Ведущий программист Java | Senior Java programmer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Лартех Телеком</td> 
     <td class="salary">От 130 000 до 210 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028713">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028624">Java TeamLead</a></td> 
     <td class="city"></td> 
     <td class="companyName">Безопасный Интернет</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028621">Программист серверной части/Java Server-Side Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Nekki</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028721">Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028788">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028560">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027523">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026453">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Sputnik Development</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028545">Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028644">Java developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028655">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Finch</td> 
     <td class="salary">От 80 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/999999168">Java Software developer (Java Программист)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HireRight Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023401">Scala/Java UI Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028257">Ведущий Java-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Кадровый центр Рестарт</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028544">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028879">Программист Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИНВИТРО-Информационные технологии</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027872">Java-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Inoventica Services</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025255">JAVA-программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">Parley Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028857">Младший Java программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Центр Речевых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028299">Backend Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Икстенс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027321">Java EE разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028847">Java Developer (Middle / Senior)</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">John Wiley &amp; Sons Rus, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028877">Ведущий программист Java | Senior Java programmer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Лартех Телеком</td> 
     <td class="salary">От 130 000 до 210 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028713">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028624">Java TeamLead</a></td> 
     <td class="city"></td> 
     <td class="companyName">Безопасный Интернет</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028621">Программист серверной части/Java Server-Side Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Nekki</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028721">Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028788">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028560">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027523">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026453">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Sputnik Development</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028545">Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028644">Java developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028655">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Finch</td> 
     <td class="salary">От 80 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/999999168">Java Software developer (Java Программист)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HireRight Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023401">Scala/Java UI Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028257">Ведущий Java-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Кадровый центр Рестарт</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028544">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028879">Программист Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИНВИТРО-Информационные технологии</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027872">Java-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Inoventica Services</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025255">JAVA-программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">Parley Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028857">Младший Java программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Центр Речевых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028299">Backend Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Икстенс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027321">Java EE разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027013">Java Web developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB-SPLAT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027931">Backend -разработчик (java)</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">RTBID</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028446">Разработчик Java (JavaFX)</a></td> 
     <td class="city"></td> 
     <td class="companyName">АртКом</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028402">Senior Java Developer (Project BMW Online Sales)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">T-Systems CIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028882">Программист Java/Scala</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Zeppelinen</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027277">Ведущий Java разработчик/TeamLead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИНГРИД</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028469">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028279">Junior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028892">Ведущий Java разработчик на серверное приложение соц. сети Vero</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Vero Labs Inc.</td> 
     <td class="salary">От 2 500 до 3 700 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019904">Java разработчик со знанием front-end технологий</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028107">Middle Java Developer в Минск</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ДевБрэйн</td> 
     <td class="salary">От 1 500 до 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028941">Java SalesForce Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">BounceHelp</td> 
     <td class="salary">От 1 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028533">Ведущий Java разработчик Отдела автоматизации бэк-офиса</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Открытие Брокер</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028980">Senior Scala Developer (удаленное сотрудничество)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028556">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary">От 140 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025974">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Taximeta LLC</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028380">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Critical Issue</td> 
     <td class="salary">От 2 500 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028420">Руководитель группы разработчиков (ТимЛид)</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "Арго-Технолоджи"</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000018083">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Avito</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028901">Android разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Zeppelinen</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023155">Backend-разработчик (full-stack)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Okko</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028403">Senior Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CarPrice.ru</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028704">Android-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Digital Sparta</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027570">Senior Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028949">CTO / Software Development Director</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Ювелирная сеть 585GOLD</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028963">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">streetbee</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028027">Методист по курсу "Тестирование ПО" (автоматизация на Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 30 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028986">Back-End Engineer (remote)</a></td> 
     <td class="city"></td> 
     <td class="companyName">G-Nius Recruitment</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028778">Senior Front-end Web developer (JS\HTML\CSS)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Solar Communications GmbH</td> 
     <td class="salary">От 1 200 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028942">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "ПИН"</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028374">Разработчик Android</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ООО «СЕРАФИМ»</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027819">QA automation engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028932">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">С.INDICATOR</td> 
     <td class="salary">От 70 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028718">Android разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Net Element</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028849">QA Engineer (SaaS, Fintech)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital recruitment</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029023">Android программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">i'way</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028784">Full Stack Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Solar Communications GmbH</td> 
     <td class="salary">От 2 000 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028919">Senior BackEnd Python Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">AgoraDoxa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023120">android developer / андроид разработчик в музыкальное приложение Zvooq</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Zvooq</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028384">Back-End разработчик</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">BetyouBet</td> 
     <td class="salary">От 25 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027083">Преподаватель вебинаров по программированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025714">Team Lead/ Руководитель разработки</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cubic Robotics</td> 
     <td class="salary">От 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028564">Тестировщик ПО (QA-инженер)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027235">Инженер по тестированию ПО</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">iCanDeliver</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028803">​Программист встраиваемых систем</a></td> 
     <td class="city"></td> 
     <td class="companyName">ЦНТ</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028641">Разработчик Senior .Net Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Aspose Pty Ltd</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028617">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">FORapp</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028507">Ведущий Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Interactive Services</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028426">Программист на разработку бэк-энда.</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "Арго-Технолоджи"</td> 
     <td class="salary">От 40 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013276">Senior Front-end разработчик (JavaScript)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028375">Разработчик iOS</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ООО «СЕРАФИМ»</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028886">web programmer (Yii) / web программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MediaProNet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026377">Senior Scala Developer in Tech Startup</a></td> 
     <td class="city"></td> 
     <td class="companyName">whisk</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028670">Веб-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Skyberg</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028596">Стажер SafeBoard</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029003">Front-end разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Toprater</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028289">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMSolutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028915">Разработчик мобильных приложений</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Семейный доктор"</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028465">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Stealth project</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028611">Старший специалист по автоматизации тестирования / Senior Automation Tester</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Navitel</td> 
     <td class="salary">От 80 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028933">Android-разработчик (senior)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Studio Mobile</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028526">Team Lead - старший IT-специалист (руководитель по разработке)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Коворкинг</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028561">Android Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028903">Junior Front-end разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Idea Platform</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028562">Системный аналитик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 40 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026461">Аналитик по прогнозированию</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000011654">Senior Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028574">Ruby разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Отраслевая Система Торгов</td> 
     <td class="salary">От 70 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025067">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">iCanDeliver</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028398">Разработчик С++ (Fast Track)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024329">Разработчик Python</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Главный радиочастотный центр</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027995">Исследователь в области ИБ / Программист-аналитик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НеоБИТ</td> 
     <td class="salary">От 70 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000014053">PHP Developer</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">RGK Group</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028695">JavaScript Architect</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ПерсоналИнвест</td> 
     <td class="salary">От 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028649">DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">LPgenerator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028677">Test Validation Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Auriga</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025522">Python разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>